@import "normalize.css";
@import "form.css";
@import "gallery.css";
@import "card.css";

h2 {
  font-family: Merriweather;
  font-size: 20px;
}

.container {
  padding: 40px 20px;
}

@media (min-width: 744px) {
  .search-form {
    max-width: 735px;
    display: flex;
    gap: 24px;
  }
  .card {
    min-width: 353px;
  }
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .label {
    width: 100%;
  }
  .button {
    align-self: center;
    margin-top: 11px;
  }
}

@media (min-width: 1280px) {
  h2 {
    text-align: center;
  }
  .search-form {
    width: 864px;
    margin: 0 auto;
    display: flex;
  }
  .card {
    min-width: 411px;
  }
  .gallery {
    gap: 48px 23px;
  }
}
